%h1
  = @movie.title
  - if @movie.year.present?
    (#{ @movie.year })

// view genre if available
- if @movie.genre.present?
  %p
    Genre: #{ link_to @movie.genre.name, @movie.genre }

%p
  Length: #{ @movie.length } minutes
  %br
  Language:
  = @movie.language

%p
  = link_to "Edit", edit_movie_path(@movie)
  = delete_movie_link(@movie)
  = link_to "Back", movies_path
