<h1><%= @movie.title %> (<%= @movie.year %>)</h1>

<p>
  Length: <%= @movie.length %> minutes<br>
  Language: <%= @movie.language %>
</p>

<p>
  <%= link_to "Edit", edit_movie_path(@movie) %>
  <%= link_to "Delete", movie_path(@movie),
        :method => :delete,
        :confirm => "Are you sure?" %>
  <%= link_to "Back", movies_path %>
</p>
